%h1 Hello world!

= link "Give someone a props!", to: props_path(@conn, :new)

- for prop <- @props do
  .prop
    .prop__user
      = prop.user.first_name
      = prop.user.last_name
    .prop__propser
      = prop.propser.first_name
      = prop.propser.last_name
    .prop__body
      = prop.body
